
.icon-glass:before { content: '\e800'; } /* '' */
.icon-music:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-resize-full:before { content: '\e804'; } /* '' */
.icon-resize-full-1:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-folderContents:before { content: '\e807'; } /* '' */
.icon-edit:before { content: '\e808'; } /* '' */
.icon-logout:before { content: '\e809'; } /* '' */
.icon-local_roles:before { content: '\e80a'; } /* '' */
.icon-history:before { content: '\e80b'; } /* '' */
.icon-link:before { content: '\e80c'; } /* '' */
.icon-view:before { content: '\e80d'; } /* '' */
.icon-collection:before { content: '\e80e'; } /* '' */
.icon-event:before { content: '\e80f'; } /* '' */
.icon-plone-contentmenu-factories:before { content: '\e810'; } /* '' */
.icon-contentInfo:before { content: '\e811'; } /* '' */
.icon-plone-contentmenu-workflow:before { content: '\e812'; } /* '' */
.icon-moreOptions:before { content: '\e813'; } /* '' */
.icon-document:before { content: '\e814'; } /* '' */
.icon-news:before { content: '\e815'; } /* '' */
.icon-image:before { content: '\e816'; } /* '' */
.icon-caching:before { content: '\e817'; } /* '' */
.icon-markup:before { content: '\e818'; } /* '' */
.icon-editing:before { content: '\e819'; } /* '' */
.icon-errors:before { content: '\e81a'; } /* '' */
.icon-imageHandling:before { content: '\e81b'; } /* '' */
.icon-filtering:before { content: '\e81c'; } /* '' */
.icon-language:before { content: '\e81d'; } /* '' */
.icon-dexterityTypes:before { content: '\e81e'; } /* '' */
.icon-mail-1:before { content: '\e81f'; } /* '' */
.icon-maintenance:before { content: '\e820'; } /* '' */
.icon-navigation:before { content: '\e821'; } /* '' */
.icon-search:before { content: '\e822'; } /* '' */
.icon-security:before { content: '\e823'; } /* '' */
.icon-theming:before { content: '\e824'; } /* '' */
.icon-rss:before { content: '\e825'; } /* '' */
.icon-siteSettings:before { content: '\e826'; } /* '' */
.icon-userGroups:before { content: '\e827'; } /* '' */
.icon-contentrules:before { content: '\e828'; } /* '' */
.icon-lock:before { content: '\e829'; } /* '' */
.icon-plone-contentmenu-actions:before { content: '\e82a'; } /* '' */
.icon-plone-contentmenu-portletmanager:before { content: '\e82b'; } /* '' */
.icon-plone-contentmenu-display:before { content: '\e82c'; } /* '' */
.icon-calendar-empty:before { content: '\e82d'; } /* '' */
.icon-controlpanel-plone_app_caching:before { content: '\e82e'; } /* '' */
.icon-controlpanel-plone_app_registry:before { content: '\e82f'; } /* '' */
.icon-controlpanel-dexterity-types:before { content: '\e830'; } /* '' */
.icon-controlpanel-discussion:before { content: '\e831'; } /* '' */
.icon-controlpanel-ImagingSettings:before { content: '\e832'; } /* '' */
.icon-controlpanel-plone_app_theming:before { content: '\e833'; } /* '' */
.icon-controlpanel-QuickInstaller:before { content: '\e834'; } /* '' */
.icon-controlpanel-DateAndTime:before { content: '\e835'; } /* '' */
.icon-controlpanel-LanguageSettings:before { content: '\e836'; } /* '' */
.icon-controlpanel-MailHost:before { content: '\e837'; } /* '' */
.icon-controlpanel-NavigationSettings:before { content: '\e838'; } /* '' */
.icon-file:before { content: '\e839'; } /* '' */
.icon-addon:before { content: '\e83a'; } /* '' */
.icon-datetime:before { content: '\e83b'; } /* '' */
.icon-controlpanel-syndication:before { content: '\e83c'; } /* '' */
.icon-controlpanel-ContentRules:before { content: '\e83d'; } /* '' */
.icon-controlpanel-EditingSettings:before { content: '\e83e'; } /* '' */
.icon-controlpanel-MarkupSettings:before { content: '\e83f'; } /* '' */
.icon-controlpanel-tinymce:before { content: '\e840'; } /* '' */
.icon-controlpanel-TypesSettings:before { content: '\e841'; } /* '' */
.icon-controlpanel-UsersGroups:before { content: '\e842'; } /* '' */
.icon-controlpanel-errorLog:before { content: '\e843'; } /* '' */
.icon-controlpanel-FilterSettings:before { content: '\e844'; } /* '' */
.icon-controlpanel-SecuritySettings:before { content: '\e845'; } /* '' */
.icon-controlpanel-resourceregistries:before { content: '\e846'; } /* '' */
.icon-emptyset:before { content: '\e847'; } /* '' */
.icon-controlpanel-ZMI:before { content: '\e848'; } /* '' */
.icon-controlpanel-Maintenance:before { content: '\e849'; } /* '' */
.icon-up:before { content: '\e84a'; } /* '' */
.icon-down:before { content: '\e84b'; } /* '' */
.icon-zope:before { content: '\e84c'; } /* '' */
.icon-types:before { content: '\e84d'; } /* '' */
.icon-syndication:before { content: '\e84e'; } /* '' */
.icon-controlpanel-PloneReconfig:before { content: '\e84f'; } /* '' */
.icon-controlpanel-SearchSettings:before { content: '\e850'; } /* '' */
.icon-controlpanel-socialmedia:before { content: '\e851'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-bath:before { content: '\f2cd'; } /* '' */